KubeeBot/Kubee-Node.json
[
    {
        "id": "0decc1150422b9c5",
        "type": "tab",
        "label": "Integrações Hello Word",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "581fba428451f007",
        "type": "tab",
        "label": "Telegram + Watson",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17018b6b04a03144",
        "type": "tab",
        "label": "Telegram + STT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "754c88c74d5e422f",
        "type": "telegram bot",
        "botname": "KubeFarmbot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "b91fa5803d10baf6",
        "type": "inject",
        "z": "0decc1150422b9c5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello Word",
        "payloadType": "str",
        "x": 420,
        "y": 260,
        "wires": [
            [
                "750fe4b031ac43cc"
            ]
        ]
    },
    {
        "id": "d6d9a34bf355de4a",
        "type": "debug",
        "z": "0decc1150422b9c5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "750fe4b031ac43cc",
        "type": "function",
        "z": "0decc1150422b9c5",
        "name": "function 1",
        "func": "var dateNow  = new Date();\nvar timeAsString = dateNow.toLocaleTimeString();\n\nmsg.payload = msg.payload + \" A hora é \" + timeAsString + \".\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 260,
        "wires": [
            [
                "d6d9a34bf355de4a"
            ]
        ]
    },
    {
        "id": "f16993e22f9d9929",
        "type": "http in",
        "z": "0decc1150422b9c5",
        "name": "",
        "url": "/conversa",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 400,
        "y": 360,
        "wires": [
            [
                "f81c013cea4ef9e3"
            ]
        ]
    },
    {
        "id": "f81c013cea4ef9e3",
        "type": "function",
        "z": "0decc1150422b9c5",
        "name": "Funcao Entrada Wa",
        "func": "msg.params = {\n    \"session_id\": msg.payload.session_id !== \"undefined\" ? msg.payload.session_id: \"\"\n};\n\nmsg.payload = msg.payload.message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 360,
        "wires": [
            [
                "0ed23476831bfcec"
            ]
        ]
    },
    {
        "id": "e309249d01564a15",
        "type": "http response",
        "z": "0decc1150422b9c5",
        "name": "",
        "statusCode": "",
        "headers": {
            "Access-Control-Allow-Origin": "*"
        },
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "e734e6189c04d049",
        "type": "function",
        "z": "0decc1150422b9c5",
        "name": "fUNCAO sAIDA",
        "func": "msg.payload = msg.payload.output.generic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 460,
        "wires": [
            [
                "e309249d01564a15"
            ]
        ]
    },
    {
        "id": "c97f98467088b1d1",
        "type": "watson-speech-to-text",
        "z": "0decc1150422b9c5",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "BroadbandModel",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "A2t32nBS8NuIcgQDacTy-cr_XtZqG-yqh8G10UKBNbiJ",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/3a50103f-71f6-47f4-a6ee-7a20aa0534ec",
        "x": 620,
        "y": 960,
        "wires": [
            [
                "5283444d30d1591e"
            ]
        ]
    },
    {
        "id": "5283444d30d1591e",
        "type": "debug",
        "z": "0decc1150422b9c5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 960,
        "wires": []
    },
    {
        "id": "7d8bf5b8dfa4f432",
        "type": "debug",
        "z": "0decc1150422b9c5",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 800,
        "wires": []
    },
    {
        "id": "da72f59cc0e567b7",
        "type": "inject",
        "z": "0decc1150422b9c5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Olá",
        "payloadType": "str",
        "x": 390,
        "y": 1140,
        "wires": [
            [
                "26a58689bc45397c"
            ]
        ]
    },
    {
        "id": "26a58689bc45397c",
        "type": "watson-text-to-speech",
        "z": "0decc1150422b9c5",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaVoice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "9Gz4c-9zAG7HqSYWQ6CpHPTiEcfP9Ls9sejQme-Z4ldH",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/a4eb26f2-3ce6-4787-ba3d-a0a9c3d2067a",
        "x": 600,
        "y": 1140,
        "wires": [
            [
                "030a43a0c592d550",
                "d4ac5e5a46a0c62c"
            ]
        ]
    },
    {
        "id": "030a43a0c592d550",
        "type": "debug",
        "z": "0decc1150422b9c5",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1060,
        "wires": []
    },
    {
        "id": "d4ac5e5a46a0c62c",
        "type": "play audio",
        "z": "0decc1150422b9c5",
        "name": "",
        "voice": "130",
        "x": 850,
        "y": 1140,
        "wires": []
    },
    {
        "id": "0ed23476831bfcec",
        "type": "watson-assistant-v2",
        "z": "0decc1150422b9c5",
        "name": "",
        "service-endpoint": "",
        "assistant_id": "87e64215-e569-4496-93ec-0d37e1d6dbc2",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 870,
        "y": 360,
        "wires": [
            [
                "e734e6189c04d049"
            ]
        ]
    },
    {
        "id": "d9f6ea37e931a094",
        "type": "comment",
        "z": "0decc1150422b9c5",
        "name": "Ler",
        "info": "Caso não esteja aparecendo todas as Configurações do serviço.\n\nRealizar o Deploy e testar o fluxo uma vez.",
        "x": 610,
        "y": 1020,
        "wires": []
    },
    {
        "id": "392e4c2f3e72ddfb",
        "type": "comment",
        "z": "0decc1150422b9c5",
        "name": "Ler",
        "info": "Caso não esteja aparecendo todas as Configurações do serviço.\n\nRealizar o Deploy e testar o fluxo uma vez.",
        "x": 610,
        "y": 1180,
        "wires": []
    },
    {
        "id": "46a3ab84d1d7e36d",
        "type": "microphone",
        "z": "0decc1150422b9c5",
        "name": "",
        "x": 430,
        "y": 880,
        "wires": [
            [
                "c97f98467088b1d1",
                "7d8bf5b8dfa4f432"
            ]
        ]
    },
    {
        "id": "72a4eef592ca7c31",
        "type": "telegram receiver",
        "z": "581fba428451f007",
        "name": "",
        "bot": "754c88c74d5e422f",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 100,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "28810ac1dc3ca474",
        "type": "telegram sender",
        "z": "581fba428451f007",
        "name": "",
        "bot": "754c88c74d5e422f",
        "haserroroutput": false,
        "outputs": 1,
        "x": 940,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "26f2e1c768aad327",
        "type": "change",
        "z": "581fba428451f007",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 380,
        "wires": [
            [
                "d36513638a06e53d",
                "8fcf442625317f63"
            ]
        ]
    },
    {
        "id": "5bf088734179568b",
        "type": "comment",
        "z": "581fba428451f007",
        "name": "Leia",
        "info": "Função Change",
        "x": 310,
        "y": 420,
        "wires": []
    },
    {
        "id": "d36513638a06e53d",
        "type": "watson-assistant-v2",
        "z": "581fba428451f007",
        "name": "",
        "service-endpoint": "",
        "assistant_id": "87e64215-e569-4496-93ec-0d37e1d6dbc2",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 530,
        "y": 380,
        "wires": [
            [
                "b336e7074bbd0533",
                "3f7dc42e51a09bc2"
            ]
        ]
    },
    {
        "id": "b336e7074bbd0533",
        "type": "change",
        "z": "581fba428451f007",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 380,
        "wires": [
            [
                "28810ac1dc3ca474"
            ]
        ]
    },
    {
        "id": "8fcf442625317f63",
        "type": "debug",
        "z": "581fba428451f007",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "3f7dc42e51a09bc2",
        "type": "debug",
        "z": "581fba428451f007",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "f13e87ec6c295769",
        "type": "debug",
        "z": "581fba428451f007",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 200,
        "wires": []
    },
    {
        "id": "d44a0669ae7c518e",
        "type": "telegram receiver",
        "z": "17018b6b04a03144",
        "name": "",
        "bot": "754c88c74d5e422f",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 80,
        "y": 180,
        "wires": [
            [
                "18094c524a552e8d",
                "60ab51d12d1eea8f"
            ],
            []
        ]
    },
    {
        "id": "ebfddad113a31429",
        "type": "telegram sender",
        "z": "17018b6b04a03144",
        "name": "",
        "bot": "754c88c74d5e422f",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1630,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "2040bfb87456dd31",
        "type": "change",
        "z": "17018b6b04a03144",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.originalMessage.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 420,
        "wires": [
            [
                "3d6ecc134b8b4e5f",
                "162a31a3c646aaac"
            ]
        ]
    },
    {
        "id": "b15c9abfbf0bd531",
        "type": "change",
        "z": "17018b6b04a03144",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 380,
        "wires": [
            [
                "ebfddad113a31429"
            ]
        ]
    },
    {
        "id": "3d6ecc134b8b4e5f",
        "type": "debug",
        "z": "17018b6b04a03144",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 460,
        "wires": []
    },
    {
        "id": "18094c524a552e8d",
        "type": "debug",
        "z": "17018b6b04a03144",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 80,
        "wires": []
    },
    {
        "id": "8d2ba77e27ca4f30",
        "type": "watson-speech-to-text",
        "z": "17018b6b04a03144",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "BroadbandModel",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "pQKh5_XU9fIUK_pUwrqgYNhQK2WP3mNPw_ViIYkSJ8PW",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/a316a05f-6045-4a89-bd3d-d1bef928daeb",
        "x": 680,
        "y": 60,
        "wires": [
            [
                "ca91ffd09228115c"
            ]
        ]
    },
    {
        "id": "a41999737143570c",
        "type": "inject",
        "z": "17018b6b04a03144",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Olá",
        "payloadType": "str",
        "x": 70,
        "y": 860,
        "wires": [
            [
                "87984e0b792845b0"
            ]
        ]
    },
    {
        "id": "87984e0b792845b0",
        "type": "watson-text-to-speech",
        "z": "17018b6b04a03144",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaVoice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "9Gz4c-9zAG7HqSYWQ6CpHPTiEcfP9Ls9sejQme-Z4ldH",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/a4eb26f2-3ce6-4787-ba3d-a0a9c3d2067a",
        "x": 300,
        "y": 860,
        "wires": [
            [
                "a179931d30e14ca9",
                "48f7943821088d19"
            ]
        ]
    },
    {
        "id": "a179931d30e14ca9",
        "type": "debug",
        "z": "17018b6b04a03144",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 780,
        "wires": []
    },
    {
        "id": "48f7943821088d19",
        "type": "play audio",
        "z": "17018b6b04a03144",
        "name": "",
        "voice": "130",
        "x": 530,
        "y": 860,
        "wires": []
    },
    {
        "id": "442d4fbd440ce485",
        "type": "comment",
        "z": "17018b6b04a03144",
        "name": "Ler",
        "info": "Caso não esteja aparecendo todas as Configurações do serviço.\n\nRealizar o Deploy e testar o fluxo uma vez.",
        "x": 290,
        "y": 900,
        "wires": []
    },
    {
        "id": "60ab51d12d1eea8f",
        "type": "switch",
        "z": "17018b6b04a03144",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "fa79cbf043a6494e"
            ],
            [
                "6d53b6a5f868367f"
            ]
        ]
    },
    {
        "id": "162a31a3c646aaac",
        "type": "watson-assistant-v2",
        "z": "17018b6b04a03144",
        "name": "",
        "service-endpoint": "",
        "assistant_id": "87e64215-e569-4496-93ec-0d37e1d6dbc2",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 750,
        "y": 360,
        "wires": [
            [
                "5e76609b2845acb8",
                "b15c9abfbf0bd531",
                "139bf97126998dc5",
                "5da3ba244f45d465"
            ]
        ]
    },
    {
        "id": "fa79cbf043a6494e",
        "type": "change",
        "z": "17018b6b04a03144",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "payload.type",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weblink",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 100,
        "wires": [
            [
                "8d2ba77e27ca4f30",
                "a140350ccedcf0b6"
            ]
        ]
    },
    {
        "id": "5e76609b2845acb8",
        "type": "debug",
        "z": "17018b6b04a03144",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 300,
        "wires": []
    },
    {
        "id": "139bf97126998dc5",
        "type": "change",
        "z": "17018b6b04a03144",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "photo",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[1].source",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 460,
        "wires": [
            [
                "ebfddad113a31429"
            ]
        ]
    },
    {
        "id": "5da3ba244f45d465",
        "type": "change",
        "z": "17018b6b04a03144",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "photo",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[2].source",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 500,
        "wires": [
            [
                "ebfddad113a31429"
            ]
        ]
    },
    {
        "id": "9e925c8fb294f590",
        "type": "debug",
        "z": "17018b6b04a03144",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 640,
        "wires": []
    },
    {
        "id": "2d005fe90a498246",
        "type": "watson-text-to-speech",
        "z": "17018b6b04a03144",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaVoice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "5X4ps3jgIJbix4Hin2WBHGRlvqUIia4wrT-FaV8I-rk4",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/5ff92c65-e68c-4f98-87b0-4585a3a62ac9",
        "x": 1980,
        "y": 60,
        "wires": [
            [
                "819a83f81ffe75c2"
            ]
        ]
    },
    {
        "id": "979313950f769680",
        "type": "debug",
        "z": "17018b6b04a03144",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1960,
        "y": 180,
        "wires": []
    },
    {
        "id": "4f3ac21baa44d616",
        "type": "change",
        "z": "17018b6b04a03144",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 60,
        "wires": [
            [
                "d268d7954fde3e62",
                "9526688ea997722a"
            ]
        ]
    },
    {
        "id": "819a83f81ffe75c2",
        "type": "function",
        "z": "17018b6b04a03144",
        "name": "",
        "func": "msg.payload={\n    'chatId': msg.params.session_id,\n    'content': msg.payload,\n    'type': 'voice'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 180,
        "wires": [
            [
                "979313950f769680",
                "ebfddad113a31429"
            ]
        ]
    },
    {
        "id": "274530595c0ceef0",
        "type": "watson-language-translator-identify",
        "z": "17018b6b04a03144",
        "name": "",
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/8153ea84-fd36-4e8e-a204-9e1ee08e8fb1",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "dee41eb82c9e35e9",
                "0adf10b858f01b10"
            ]
        ]
    },
    {
        "id": "dee41eb82c9e35e9",
        "type": "debug",
        "z": "17018b6b04a03144",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 340,
        "wires": []
    },
    {
        "id": "0adf10b858f01b10",
        "type": "switch",
        "z": "17018b6b04a03144",
        "name": "",
        "property": "lang.language",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pt",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "en",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 420,
        "wires": [
            [
                "2040bfb87456dd31"
            ],
            [
                "4a18ab9891ee6404"
            ]
        ]
    },
    {
        "id": "6d53b6a5f868367f",
        "type": "change",
        "z": "17018b6b04a03144",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 340,
        "wires": [
            [
                "274530595c0ceef0"
            ]
        ]
    },
    {
        "id": "4a18ab9891ee6404",
        "type": "change",
        "z": "17018b6b04a03144",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.originalMessage.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 500,
        "wires": [
            [
                "f433ace6cfe3efa7"
            ]
        ]
    },
    {
        "id": "f433ace6cfe3efa7",
        "type": "watson-translator",
        "z": "17018b6b04a03144",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "pt",
        "apikey": "Rw3myYTgQteEnULL2DBrC9hMbgUG5gJofLwSeKbXx9I-",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "pt",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/8153ea84-fd36-4e8e-a204-9e1ee08e8fb1",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "9aa5ee5cc8f90fd0",
                "ecad0c1c02ec884b"
            ]
        ]
    },
    {
        "id": "9aa5ee5cc8f90fd0",
        "type": "debug",
        "z": "17018b6b04a03144",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 580,
        "wires": []
    },
    {
        "id": "b1ade392379a29d1",
        "type": "watson-translator",
        "z": "17018b6b04a03144",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "pt",
        "destlang": "en",
        "apikey": "Rw3myYTgQteEnULL2DBrC9hMbgUG5gJofLwSeKbXx9I-",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "pt",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/8153ea84-fd36-4e8e-a204-9e1ee08e8fb1",
        "x": 610,
        "y": 560,
        "wires": [
            [
                "49887f06a48984f6",
                "60788bdbb26fb2ae"
            ]
        ]
    },
    {
        "id": "49887f06a48984f6",
        "type": "debug",
        "z": "17018b6b04a03144",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 620,
        "wires": []
    },
    {
        "id": "d268d7954fde3e62",
        "type": "debug",
        "z": "17018b6b04a03144",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 20,
        "wires": []
    },
    {
        "id": "77a97bb8a3d1afe9",
        "type": "watson-assistant-v2",
        "z": "17018b6b04a03144",
        "name": "",
        "service-endpoint": "",
        "assistant_id": "87e64215-e569-4496-93ec-0d37e1d6dbc2",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 310,
        "y": 720,
        "wires": [
            [
                "cf63da96f4a7369e",
                "e97710402ebb0f5b"
            ]
        ]
    },
    {
        "id": "ecad0c1c02ec884b",
        "type": "change",
        "z": "17018b6b04a03144",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.originalMessage.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 660,
        "wires": [
            [
                "77a97bb8a3d1afe9"
            ]
        ]
    },
    {
        "id": "cf63da96f4a7369e",
        "type": "change",
        "z": "17018b6b04a03144",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 660,
        "wires": [
            [
                "b1ade392379a29d1"
            ]
        ]
    },
    {
        "id": "e97710402ebb0f5b",
        "type": "debug",
        "z": "17018b6b04a03144",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 720,
        "wires": []
    },
    {
        "id": "60788bdbb26fb2ae",
        "type": "function",
        "z": "17018b6b04a03144",
        "name": "",
        "func": "msg.payload={\n    'chatId': msg.params.session_id,\n    'content': msg.payload,\n    'type': 'message'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 580,
        "wires": [
            [
                "9e925c8fb294f590",
                "ebfddad113a31429"
            ]
        ]
    },
    {
        "id": "82dbdaeb9687dcee",
        "type": "watson-translator",
        "z": "17018b6b04a03144",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "pt",
        "apikey": "Rw3myYTgQteEnULL2DBrC9hMbgUG5gJofLwSeKbXx9I-",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "pt",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/8153ea84-fd36-4e8e-a204-9e1ee08e8fb1",
        "x": 1150,
        "y": 220,
        "wires": [
            [
                "f792314262297456",
                "65d6be4f47e92b7d"
            ]
        ]
    },
    {
        "id": "ca91ffd09228115c",
        "type": "watson-language-translator-identify",
        "z": "17018b6b04a03144",
        "name": "",
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/8153ea84-fd36-4e8e-a204-9e1ee08e8fb1",
        "x": 910,
        "y": 60,
        "wires": [
            [
                "4030721cf8973662"
            ]
        ]
    },
    {
        "id": "a140350ccedcf0b6",
        "type": "watson-speech-to-text",
        "z": "17018b6b04a03144",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "BroadbandModel",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "pQKh5_XU9fIUK_pUwrqgYNhQK2WP3mNPw_ViIYkSJ8PW",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/a316a05f-6045-4a89-bd3d-d1bef928daeb",
        "x": 680,
        "y": 140,
        "wires": [
            [
                "28d6ae0d64b349bd"
            ]
        ]
    },
    {
        "id": "4030721cf8973662",
        "type": "switch",
        "z": "17018b6b04a03144",
        "name": "",
        "property": "lang.language",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pt",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 60,
        "wires": [
            [
                "65d6be4f47e92b7d"
            ]
        ]
    },
    {
        "id": "28d6ae0d64b349bd",
        "type": "watson-language-translator-identify",
        "z": "17018b6b04a03144",
        "name": "",
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/8153ea84-fd36-4e8e-a204-9e1ee08e8fb1",
        "x": 910,
        "y": 140,
        "wires": [
            [
                "d8e4ac5a29d02b85",
                "98601145f6b5ae75"
            ]
        ]
    },
    {
        "id": "d8e4ac5a29d02b85",
        "type": "switch",
        "z": "17018b6b04a03144",
        "name": "",
        "property": "lang.language",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "en",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1130,
        "y": 140,
        "wires": [
            [
                "82dbdaeb9687dcee"
            ]
        ]
    },
    {
        "id": "65d6be4f47e92b7d",
        "type": "watson-assistant-v2",
        "z": "17018b6b04a03144",
        "name": "",
        "service-endpoint": "",
        "assistant_id": "87e64215-e569-4496-93ec-0d37e1d6dbc2",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 1310,
        "y": 60,
        "wires": [
            [
                "4f3ac21baa44d616",
                "8cb8978967ebb644"
            ]
        ]
    },
    {
        "id": "f792314262297456",
        "type": "debug",
        "z": "17018b6b04a03144",
        "name": "debug ident",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 300,
        "wires": []
    },
    {
        "id": "8cb8978967ebb644",
        "type": "debug",
        "z": "17018b6b04a03144",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 20,
        "wires": []
    },
    {
        "id": "98601145f6b5ae75",
        "type": "debug",
        "z": "17018b6b04a03144",
        "name": "debug trad",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "9526688ea997722a",
        "type": "switch",
        "z": "17018b6b04a03144",
        "name": "",
        "property": "lang.language",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pt",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "en",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1690,
        "y": 60,
        "wires": [
            [
                "2d005fe90a498246"
            ],
            [
                "71083dc9b9719f85"
            ]
        ]
    },
    {
        "id": "71083dc9b9719f85",
        "type": "watson-text-to-speech",
        "z": "17018b6b04a03144",
        "name": "",
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "en-US_AllisonExpressive",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "5X4ps3jgIJbix4Hin2WBHGRlvqUIia4wrT-FaV8I-rk4",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/5ff92c65-e68c-4f98-87b0-4585a3a62ac9",
        "x": 1980,
        "y": 100,
        "wires": [
            [
                "819a83f81ffe75c2"
            ]
        ]
    }
]